*
{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body
{
    margin: 0;
    background-color: #343434;
    color: white;
}
#buttonex
{
    display: flex;
}
header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 10vh;
    align-items: center;
    box-shadow: 1px 1px 10px 1px black;
}
header h1
{
    font-size: 36px;
    margin: 2%;
  
}

header button
{
    margin: 2%;
}

main
{
    display: grid;
    grid-template-areas: 
    "a b";
    align-items: center;
    justify-content: center;
    border: 0px dotted white;
    width: 100%; 
    margin-top: 1%;
}

#poutinePic
{
    grid-area: a;
    max-width: 40vw;
    max-height: 60vh;
    border-radius: 25px;
    margin: 2.5vw;
    box-shadow: 0 0 10px 1px black;
}

#infoHolder
{
    grid-area: b;
    max-width: 40vw;
    margin: 2.5vw;
    
}

nav
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 2.5%;
}

button
{
    
    width: 10vw;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1%;
    cursor: pointer;
}

/* BG Color swap */

.bodycolor
{
    background-color: rgb(202, 202, 202);
    color: black;
}


/*button states */

.on
{
    box-shadow: -2px -2px 0 black, 2px 2px 0 #444444;
}

.off
{
    box-shadow: 2px 2px 0 black, -2px -2px 0 #444444;
}

.lightOn
{
    background-color: rgb(202, 202, 202);
    box-shadow: -2px -2px 0 black, 2px 2px 0 white;
    color: black;
}

.lightOffButton
{
    background-color: rgb(202, 202, 202);
    box-shadow: 2px 2px 0 black, -2px -2px 0 white;
    color:black;
}

@media Screen and (max-width: 1000px) 
{
    
    main
    {
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin-top: 5%;
    }
   
    header
    {
        max-height: 10vh;
        padding: 2vh;
    }
    header h1
    {
        font-size: 2em;
    }
    nav
    {
        max-height: 10vh;
        padding-top: 5%;
    }
    
    #infoHolder h2
    {
        font-size: 1.5em;
    }
    #infoHolder p
    {
        font-size: 1.3em;
    }
    #poutinePic
    {
        grid-area: pic;
        max-width: 80vw;
        max-height: 65vh;
    }
    button
    {
        width: 10vw;
        padding: 2%;
        text-align: center;
        align-items: center;

    }
}

@media Screen and (max-width: 768px) 
{

    header h1
    {
        font-size: 1.5em;
    }

    #infoHolder
    {
        max-height: 40vh;
        max-width: 80vw;
    }
    #infoHolder h2
    {
        font-size: 1em;
    }

    #infoHolder p
    {
        font-size: 0.8em;
    }
    main
    {
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-top: 5%;
    }
    button
    {
        width: 15vw;
    }
}